.DS_Store
prombox
secrets.txt

ui/coverage
ui/node_modules
ui/dist
ui/tests/e2e/videos
ui/tests/e2e/screenshots

docs/site

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

prombox-*

docs/assets_vfsdata.go
ui/assets_vfsdata.go

npm.log
cp.out

node_modules/*
cypress/videos/
cypress/screenshots/

repolinter.json
